In [1]:
import pandas as pd

In [2]:

catalog = pd.read_csv("../Data/catalog.csv")

catalog.head()

            sku                 description
0    3L11201010    ANGULOS 20x10x1 A-304 2B
1    3L11202010    ANGULOS 20x20x1 A-304 2B
2    3L11202015  ANGULOS 20x20x1,5 A-304 2B
3  271402002003  ANGULOS 20x20x3 A-304 L.C.
4  275402002003  ANGULOS 20x20x3 A-316 L.C.

In [3]:

queries = pd.read_csv("../Data/queries.csv")

queries.head()

                                               query  Unnamed: 1
0                angulo inox a304 20x20x3mm= 24 mts,         NaN
1                    1 angulo 25x25x1.5 aisi 304 lc,         NaN
2            angulo inox a304 25x25x3mm = 24 mts, lc         NaN
3                     ANGULO l.c. AISI304 25X25X3 MM         NaN
4  1 ud angulo en acero inoxidable de 316 de x 25...         NaN

In [4]:
catalog.isnull().sum()

sku            0
description    0
dtype: int64

In [5]:
queries.isnull().sum()

query           0
Unnamed: 1    273
dtype: int64

In [6]:
print(len(catalog))
print(len(queries))

893
273

In [7]:
queries.drop("Unnamed: 1", axis=1, inplace=True)